.main.wrapper {
  margin: 40px auto;
  margin-bottom: 0px;
  padding: 50px 10px;
  height: 100%;
  background-color: $color-light;

}

.main-site-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: $color-light;
  margin-bottom: 5px;
  width: 100%;
}

.nav-box {
  height: 120px;
  flex: 1 0 45%;
  margin: 3px;
  border-radius: 5px;
  background-position: center;
  background-size: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: $transition;
  text-align: center;


  &.active {
    opacity: 0.7;
  }

  a {
    color: $color-light;
    text-decoration: none;
  }

  h2 {
    margin: 36px 0 8px 0;
  }

  p {
    visibility: hidden;
  }
}

.nav-box:first-child {
  background-image: url('../../images/pizza-1.jpg');
}

.nav-box:last-child {
  background-image: url('../../images/pizza-2.jpg');
}

.nav-box:hover h2 {
  margin: 22px 0 8px 0;

}

.nav-box:hover p {
  visibility: visible;

}


.openingHours {
  background-color: $color-danger;
  border-radius: 5px;
  height: 100px;

  h2 {
    color: $color-light;
    text-align: center;
    padding: 10px;
  }

  p {
    color: $color-light;
    text-align: center;
  }
}

/*CAROUSEL*/
.carousel {
  margin: 20px 0;
}

.carousel-item {
  width: 100%;

  img {
    left: auto;
  }
}

.carousel-caption {
  left: 50%;
  padding-left: 20px;
  text-align: left;
  color: $color-dark;
  width: 100%;
}

.author {
  font-style: italic;
  font-weight: bold;
}

/* Indicators look - external class of the plugin */

.carousel-indicators {
  li {
    width: 10px;
    border-radius: 5px;
    padding: 5px;
  }
}

/*GALLERY*/

.gallery-row {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  width: 100%;

  .gallery-image {
    position: relative;
    margin: 5px;
    width: 33%;
    height: 200px;

    .layer {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(1, 5, 7, 0.6);
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-light;
      visibility: hidden;

      a {
        padding: 5px;
        color: $color-light
      }

      .fa-heart:hover {
        color: $color-danger;
      }

      .fa-share-alt:hover {
        color: $color-danger;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      .layer { visibility: visible; }
    }
  }
}

.instagram {
  padding-top: 10px;
  color: #F07966;
  text-decoration: none;
}
